# Node/Next/Expo
node_modules/
.next/
dist/
build/
.turbo/
.expo/
.expo-shared/
coverage/
*.log
*.sqlite
.tmp/
.cache/
.DS_Store
.env
.env.*
.pytest_cache/
__pycache__/
.venv/
.idea/
.vscode/
.vercel/
!.expo/.keep